h1 {
    color: blue;
    font-family: sans-serif;
}
p {
    color: coral;
    font-family: fantasy;
}

ul{
    list-style-image: url(images/pointer-icon.png);
    color: red;
    font-family: sans-serif;
}

ol{
    list-style: upper-roman;
    color: green;
    font-family: sans-serif;
}
a{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 5px;

}
a:hover{
    background-color: aqua;
    color: #ffffff;
}